@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ultramax Vision";
  src: url("src/assets/fonts/Ultramax-Vision.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Saira Condensed";
  src: url("src/assets/fonts/SairaCondensed-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --caption-font-family: "Saira Condensed", Helvetica;
  --caption-font-size: 14px;
  --caption-font-style: normal;
  --caption-font-weight: 400;
  --caption-letter-spacing: 0px;
  --h1-font-family: "Ultramax Vision", Helvetica;
  --h1-font-style: normal;
  --h1-font-weight: 400;
  --h1-letter-spacing: 0px;
  --h2-surlign-font-family: "Ultramax Vision", Helvetica;
  --h2-surlign-font-style: normal;
  --h2-surlign-font-weight: 400;
  --h2-surlign-letter-spacing: 0px;
}

@layer base {
  body {
    background: #ffffff;
    color: #0f172a;
    min-width: 320px;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
